.gbtn {
  flex: 1 1 auto;
  margin: 10px;
  padding: 15px 44px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 6px;
 }

 .gbtn:hover {
  background-position: right center;
}

.gbtn-1 {
  background-image: linear-gradient(to left, #0072BB 50%, #009E60 100%);
}

.justify {
	text-align: justify;
}

.owl-nav, .owl-dots {
  display: none;
}


.center1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}



/* Code for read more */

.add-read-more.show-less-content .second-section,
.add-read-more.show-less-content .read-less {
   display: none;
}

.add-read-more.show-more-content .read-more {
   display: none;
}

.add-read-more .read-more,
.add-read-more .read-less {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-family: 'Nunito Sans', sans-serif;
  line-height: 24px;
  font-weight: 700;
  color: #462b34;
  text-transform: uppercase;
  cursor: pointer;
}







/* Container for the text that expands on hover */
.expanded-text {
    width: 100%;
}
/* Longer name hidden by default  */
span.longer-name{
    display:none;
}
/* On hover, hide the short name */
.expanded-text:hover span.short-name{
    display:none;
}
/* On hover, display the longer name.  */
.expanded-text:hover span.longer-name{
    display:block;
}
/* Decorate the text */
.text {
   color: white;
   font-size: 24px;
}






 .input-symbol-euro {
     position: relative;
 }
 .input-symbol-euro input {
     padding-left:18px;
 }
 .input-symbol-euro:before {
     position: absolute;
     top: 0;
     content:"€";
     left: 5px;
 }